﻿@model GemsCafe.Website.ViewModels.ContactViewModel

<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-success">
            <strong>Thanks for your message.</strong> We'll be in back in touch as soon as possible.
        </div>
    </div>
</div>