﻿@model GemsCafe.Website.ViewModels.Base.IBaseViewModel
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.PageTitle</title>
    <meta name="description" content="@Model.PageDescription">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/business-casual.css" rel="stylesheet">
    @RenderSection("Head", false)
</head>

<body>
    <!--The server constructed this page at: @Model.PageConstructedAt -->

    @Html.Action("Header", "Components")
    @Html.Action("TopNavigation", "Components")

    <div class="container"> 
        @RenderBody()
    </div>
    
    @Html.Action("Footer", "Components")

    <script src="/js/jquery-1.10.2.js"></script>
    <script src="/js/bootstrap.js"></script>
    @RenderSection("JsFooter", false)
    
</body>
</html>