﻿@model GemsCafe.Website.ViewModels.AboutViewModel

<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">@Model.Title</h2>
            <hr>
        </div>
        <div class="col-md-6">
            @Html.UmbracoImage(Model.IntroImage, css: "img-responsive img-border-left")
        </div>
        <div class="col-md-6">
            @Html.Raw(Model.Intro)
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">
                @Model.TeamTitle
            </h2>
            <hr>
        </div>
        @foreach (var teamMember in Model.TeamMembers) {
            <div class="col-sm-4 text-center">
                @Html.UmbracoImage(teamMember.Image, css: "img-responsive", width:750, height:450)
                <h3>@teamMember.Name <small>@teamMember.JobTitle</small></h3>
            </div>
        }
        <div class="clearfix"></div>
    </div>
</div>