﻿@model GemsCafe.Website.ViewModels.HomeViewModel

<div class="row">
    <div class="box">
        <div class="col-lg-12 text-center">
            <div id="carousel-example-generic" class="carousel slide">
                <ol class="carousel-indicators hidden-xs">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="item active">
                        <img class="img-responsive img-full" src="/img/slide-1.jpg" alt="">
                    </div>
                    <div class="item">
                        <img class="img-responsive img-full" src="/img/slide-2.jpg" alt="">
                    </div>
                    <div class="item">
                        <img class="img-responsive img-full" src="/img/slide-3.jpg" alt="">
                    </div>
                </div>

                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="icon-prev"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="icon-next"></span>
                </a>
            </div>
            <h2>
                <small>@Model.TitleIntro</small>
            </h2>
            <h1>
                <span class="brand-name">@Model.Title</span>
            </h1>
            <hr class="tagline-divider">
            <h2>
                <small>@Model.TagLine</small>
            </h2>
        </div>
    </div> 
</div>

<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">
                @Model.Content1Title
            </h2>
            <hr>
           @Html.Raw(Model.Content1Text) @*Html.Raw required to disable the output escaping for any HTML in the RTE*@
        </div>
    </div>
</div>

<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">
                @Model.Content2Title
            </h2>
            <hr>
            @Html.Raw(Model.Content2Text) @*Html.Raw required to disable the output escaping for any HTML in the RTE*@
        </div>
    </div>
</div>

@section JsFooter
{
    <script>
        $('.carousel').carousel({
            interval: 4000
        });
    </script>
}
