﻿@model GemsCafe.Website.ViewModels.PageNotFoundViewModel

<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">@Model.Title</h2>
            <hr>
        </div>
        <div class="col-md-12">
            @Html.Raw(Model.Body)
        </div>
        <div class="clearfix"></div>
    </div>
</div>